
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaf4ea;
    color: #333;
}


.navbar {
    background-color: #28a745; 
}

.navbar h2 {
    color: #fff; 
}


.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    background-color: #dc3545; 
    color: #fff;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}


#city-name-input {
    border-radius: 0.25rem;
    border-color: #28a745; 
}

#search-button {
    background-color: #28a745; 
    border-color: #28a745; 

#search-button:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
}


.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    border-radius: 0.5rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card img {
    border-radius: 0.5rem;
}


.bg-success {
    background-color: #28a745 !important; 
}

.text-light {
    color: #fff !important; 
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}


#forecast-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-body.bg-success {
    background-color: #28a745; 
    col
}